.filter-bar{
    /* background-color: rgb(207, 237, 246); */
    /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); */
    background-color: #383838c2;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    display: grid;
    width: auto;
    min-height: 80px;
    overflow: hidden;
    max-width: none;
    user-select: none;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 22vw;
}
.buttons > *{
    margin: 15px;
}
.button {
    height: fit-content;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #133a61;
    color: #ffffff;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.button:hover {
    background-color: #2980b9;
}
.button:active {
    background-color: #1f618d;
}
option{
    text-align: center;
}
div > label {
    padding-right: 12px;
}
.div-of-selects{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    height: 66px;
    padding: 6.4px 12px;
    margin-left: 10vw;
    position: absolute;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: none;
    background-color: #133a61;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
select{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}
.select-2, .select-3{
    width: 80px;
}