form{
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    max-width: 400px;
}
form input{
    margin-bottom: 8%;
}
label {
    font-weight: bold;
}
#moto-form-div{
    display: flex;
}
#upload-box{
    position: relative;
    border: 3px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 90%;
}
#moto-form{
    width: 20vw;
    overflow-y: auto;
}
.moto-form{
    font-size: 1.8rem;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f09999;
    padding: 20px;
    width: 75%; 
    height: 65%;
    z-index: 2;
    justify-content: space-evenly;
}
.close {
    color: rgb(0, 254, 224);
    top: 0%;
    left: 94%;
    position: absolute;
    font-size: 45px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: rgb(207, 237, 246);
    text-decoration: none;
    cursor: pointer;
}