nav {
  background-color: #383838c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  border-bottom: 2px black solid;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.logoStyle {
  padding: 0;
  display: flex;
  align-items: center;
}

.logoStyle img {
  width: auto;
  height: 22vh;
  margin-left: 25px;
}

nav ul {
  list-style: none;
  margin: 0 60px 0 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 30px;
}

nav a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
  position: relative;
  display: inline-block;
}

nav a:not(a.logoStyle):hover {
  color: #0f12cd;
  background-color: #fff;
}

nav a:not(a.logoStyle)::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 3px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

nav a:not(a.logoStyle):hover::after {
  width: 100%;
}

nav .red-orange {
  background-color: #FFA07A;
}

nav .light-blue {
  background-color: #87CEFA;
}

nav .green {
  background-color: #90EE90;
}
